body {
    font-family: 'Helvetica';
}
h1.overall_total {
    float: right;
}
h1.logo {
    float: left
}
#fiat-currency {
    font-size: xx-large;
    height: 40px;
}
.modal {
    display: none;
    background: white;
    width: 400px;
    border: 1px solid black;
}

input[name=private_key] {
    width: 20em;
}
.modal-title {
    width: 100%;
    background: gray;
    padding: 2px 0 2px 0px;
    text-align: center;
}
.modal-contents {
    padding: 4px;
    text-align: center;
}
.modal-contents canvas {
    margin: 0 auto 0 auto;
    display: inline;
}
.modal-top-section {
    /* Used in the private key modal */
    padding: 4px;
    color: darkred;
    font-weight: bold;
}
.modal-center-text {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
    font-size: large;
}
.modal-bottom-section {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.wallet-container {
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 10px;
}
.wallet-top-section {
    width: 100%;
}
.wallet-top-section td.logo {
    width: 128px;
}

.addresses-container {
    display: none;
}
.hide-addresses{
    display: none
}
td.wallet-totals {
    padding-right: 10px;
    font-size: large;
    text-align: right;
}

.wallet {
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background: lightgray;
}
.crypto-logo {
    padding-right: 10px;
}
.wallet h2 {
    padding: 0px;
    margin: 10px 0 10px 0;
}
table.wallet-address-details {
    border: 0px solid #a5a5a5;
    width: 100%;
    margin: 10px auto 0 auto;
    background: rgba(38, 29, 31, 0.35);
    border-radius: 10px;
}
table.wallet-address-details td {
    border: 0px solid #a5a5a5;
    padding: 6px;
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 10px;
}
table.wallet-address-details th {
    text-align: right;
    width: 9em;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 10px;
}

table th.transactions_header {
    vertical-align: top;
}
.hide-transactions {
    display: none;
}
.reload {
    text-decoration: none;
}
a.reload:hover {
    color: red;
}
.spinner {
    display: none;
}

.no-private-key {
    color: red;
}
.help {
    font-size: small;
}
.transaction {
    border: 1px solid black;
    background: #a3d3e8;
}
.transaction .date {
    font-size: small;
}
.transaction .Received {
    color: green;
}
.transaction .Sent {
    color: red;
}
/* currency specific styles */

.wallet-ltc {
    background: silver;
}
.wallet-btc {
    background: gold
}
.wallet-ftc {
    background: cyan;
}
.wallet-doge {
    background: yellow;
}
.wallet-ppc {
    background: pink;
}
.wallet-drk {
    background: navy;
    color: lightgray;
}
.wallet-drk a {
    color: tan;
}
.wallet-rdd {
    background: #ebffcd;
}

.wallet-myr {
    background: #d0cfff;
}
.wallet-vtc {
    background: lime;
}
.wallet-nxt {
    background: orange;
}

.transaction .historical-price {
    text-align: right;
}
.transaction .amount {
    text-align: right;
}
.transaction .verb {
    text-align: center;
}

video {
    width: 400px;
    display: none
}

input[name=private-key]{
    width: 90%;
}
