{% extends 'base.html' %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/wallet.css">
<script src="/static/jquery.jsqrcode.min.js"></script>
<script src="/static/jsqrcode/grid.js"></script>
<script src="/static/jsqrcode/version.js"></script>
<script src="/static/jsqrcode/detector.js"></script>
<script src="/static/jsqrcode/formatinf.js"></script>
<script src="/static/jsqrcode/errorlevel.js"></script>
<script src="/static/jsqrcode/bitmat.js"></script>
<script src="/static/jsqrcode/datablock.js"></script>
<script src="/static/jsqrcode/bmparser.js"></script>
<script src="/static/jsqrcode/datamask.js"></script>
<script src="/static/jsqrcode/rsdecoder.js"></script>
<script src="/static/jsqrcode/gf256poly.js"></script>
<script src="/static/jsqrcode/gf256.js"></script>
<script src="/static/jsqrcode/decoder.js"></script>
<script src="/static/jsqrcode/qrcode.js"></script>
<script src="/static/jsqrcode/findpat.js"></script>
<script src="/static/jsqrcode/alignpat.js"></script>
<script src="/static/jsqrcode/databr.js"></script>
<title></title>
{% endblock %}

{% block content %}
<div class="wallet-container">
    <h1 class="logo">CoinStove</h1>
    <h1 class='overall_total'>
        <img class="spinner" id="overall-spinner" src="/static/spinner16.gif" height="16" width="16">
        <span id="total-fiat-amount"></span>
        <select id="fiat-currency">
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="cny">CNY</option>
        </select>
    </h1>
    <div style="clear: both;"></div>
    <hr>

    <button id="new-wallet">Create New Wallet</button>

    {% if no_wallets %}
    <h2 class="no-wallets">No wallets yet, add a wallet from the button above.</h2>
    {% endif %}

    {% for crypto_symbol, wallets in wallets_for_all_currencies.items %}
        {% if wallets %}
        <div class="wallet wallet-{{ wallets.0.symbol|lower }}">
            <table>
                <tr>
                    <td><img class="crypto-logo" src="/static/{{ crypto_symbol }}-logo.png" width="128" height="128"></td>
                    <td>
                        <h2>{{ wallets.0.symbol }} - {{ wallets.0.full_name }}</h2>
                        <span class="{{ crypto_symbol }}-fiat-exchange"></span>
                        <span class="{{ crypto_symbol }}-fiat-exchange-units"></span>
                        <a href="#" class="reload reload-currency-exchange" data-crypto-symbol="{{ crypto_symbol }}">&#x21bb;</a>
                        <img class="spinner price-spinner" src="/static/spinner16.gif" height="16" width="16">
                    </td>
                </tr>
            </table>
            {% for wallet in wallets %}
            <hr>
            <table class="wallet-address-details" id="{{ wallet.js_id }}">
                <tr>
                    <th>Name:</th>
                    <td>
                    {% if wallet.name %}
                    {{ wallet.name }}
                    {% else %}
                    My {{ wallet.symbol }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>
                        <span class="public-key">{{ wallet.public_key }}</span>
                        <div class="public-key-qr-modal modal">
                            <div class='modal-title'>{{ wallet.name }} Public key QR code</div>
                            <div class="modal-contents"></div>
                            <div class="modal-bottom-section">
                                {{ wallet.public_key }}
                            </div>
                        </div>
                        <a class="launch-public-qr-modal" data-public-key="{{ wallet.public_key }}" href="#">QR</a>
                    </td>
                </tr>
                <tr>
                    <th>Private Key:</th>
                    <td>
                        {% if wallet.has_private_key %}
                            <div class="public-key-qr-modal modal">
                                <div class='modal-title'>{{ wallet.name }} Public key QR code</div>
                                <div class="modal-top-section">
                                    Be careful! Anyone who has access to this information
                                    can withdraw money from this address.
                                </div>
                                <div class="modal-contents"></div>
                                <div class="modal-bottom-section"></div>
                            </div>
                            <a href="#" class="launch-private-qr-modal" data-js-id="{{ wallet.js_id }}">click to show</a>
                        {% else %}
                            <strong>[Not Found]</strong>
                            <div class="import-public-key-modal modal">
                                <div class='modal-title'>{{ wallet.name }} Public key import</div>
                                <div class="modal-top-section">
                                    Enter the public key for this wallet. A public key should
                                    look like a long stream of random character. It should be
                                    slightly longer than the public key.
                                </div>
                                <div class="modal-contents">
                                    <video></video>
                                    <button class='launch-webcam'>Load from QR code</button>
                                </div>
                                <div class="modal-bottom-section">
                                    <form method="post" action="/wallets/save_private_key">
                                        {% csrf_token %}
                                        <input type="text" name="private_key">
                                        <input type="hidden" name="js_id" value="{{ wallet.js_id }}">
                                        <input type="submit" name="submit-private-key">
                                    </form>
                                </div>
                            </div>
                            <button class="launch-import-private-key-modal" data-js-id="{{ wallet.js_id }}">Import Private Key</button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Balance:</th>
                    <td class="balance">
                        <span class="address-value">{# gets filled in at the bottom in js #}</span>
                        <span>{{ wallet.symbol }} &times;</span>
                        <span class="{{ crypto_symbol }}-fiat-exchange" title="Price from: {{ wallet.price_source }}">
                        {# gets filled in at the bottom in js #}
                        </span>
                        <span class="{{ crypto_symbol }}-fiat-exchange-units"></span>
                        <span>=</span>
                        <span class="fiat-value">{# gets filled in at the bottom in js #}</span>
                        <span>USD</span>
                        <a href="#" class="reload reload-wallet-price" data-wallet-id="{{ wallet.js_id }}">&#x21bb;</a>
                        <img class="spinner price-spinner" src="/static/spinner16.gif" height="16" width="16">
                        <span class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th class='transactions_header'>
                        Transactions:
                    </th>
                    <td>
                        <a href="#" class="hide-transactions" data-crypto-symbol="{{ wallet.symbol.lower }}" data-wallet-id="{{ wallet.pk }}">
                            Hide Transactions
                        </a>
                        <a href="#" class="show-transactions" data-crypto-symbol="{{ wallet.symbol.lower }}" data-wallet-id="{{ wallet.pk }}">
                            Show Transactions
                        </a>
                        <img class="spinner transaction-spinner" src="/static/spinner16.gif" height="16" width="16">
                        <table class='transaction-container'></table>
                    </td>
                </tr>
                <tr>
                    <th>
                        Actions:
                    </th>
                    <td>
                    {% if wallet.has_private_key %}
                        <a target="_blank" href="/wallets/paper_wallet?js_id={{ wallet.js_id }}"><button>Generate Paper Wallet</button></a>
                        <button class="create-transaction" data-js-id="{{ wallet.js_id }}">Create Transaction / Send Money</button>
                    {% else %}
                        <button>Delete</button>
                    {% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<div id="new-wallet-modal" class="modal">
    <div class='modal-title'>New Wallet</div>
    <div class="modal-contents">
        <form method="post">
            {% csrf_token %}
            {{ new_wallet_form.type.label }}: {{ new_wallet_form.type }}
            {{ new_wallet_form.type.errors }}
            <br>
            {{ new_wallet_form.nickname.label }}: {{ new_wallet_form.nickname }}
            <span class="help">{{ new_wallet_form.nickname.help_text }}</span>
            {{ new_wallet_form.nickname.errors }}
            <br>
            <div class="modal-center-text">
                Either enter existing private/public key pair...
            </div>
            {{ new_wallet_form.public_key.label }}: {{ new_wallet_form.public_key }}
            {{ new_wallet_form.public_key.errors }}
            <br>
            {{ new_wallet_form.private_key.label }}: {{ new_wallet_form.private_key }}
            {{ new_wallet_form.private_key.errors }}
            <br>
            <input type="submit" value="Add New Wallet">

            <br>
            <div class="modal-center-text">
                Or...
            </div>
            <input type="submit" value="Generate New Wallet Address">
        </form>
    </div>
</div>

<canvas id="canvas" style="display: none"></canvas>

<script src="/static/jquery.bpopup.min.js"></script>
<script src="/static/wallet.js"></script>
<script>
    tx_external_link_remplates = {};
    $(function() {

        // Done this way so that all number formatting goes through one place.
        {% for crypto_symbol, wallets in wallets_for_all_currencies.items %}
        {% for wallet in wallets %}
            {% if forloop.counter == 1 %}
            tx_external_link_remplates["{{crypto_symbol}}"] = "{{ wallet.tx_external_link_template }}";
            {% endif %}
        update_DOM_with_price_for_wallet('{{ wallet.js_id }}', {{ wallet.price_json|safe }});
        {% endfor %}
        {% endfor %}
        update_overall_fiat_total();

        {% if new_wallet_form.errors %}
        $("#new-wallet-modal").bPopup();
        {% endif %}

        $("#fiat-currency").click(function(event){

        });
    });

    function get_tx_external_link(crypto_symbol, txid) {
        return String.format(tx_external_link_remplates[crypto_symbol], txid);
    }
</script>
{% endblock %}
