{% extends 'base.html' %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/wallet.css">
<script src="/static/jquery.jsqrcode.min.js"></script>

<script src="/static/jsqrcode/grid.js"></script>
<script src="/static/jsqrcode/version.js"></script>
<script src="/static/jsqrcode/detector.js"></script>
<script src="/static/jsqrcode/formatinf.js"></script>
<script src="/static/jsqrcode/errorlevel.js"></script>
<script src="/static/jsqrcode/bitmat.js"></script>
<script src="/static/jsqrcode/datablock.js"></script>
<script src="/static/jsqrcode/bmparser.js"></script>
<script src="/static/jsqrcode/datamask.js"></script>
<script src="/static/jsqrcode/rsdecoder.js"></script>
<script src="/static/jsqrcode/gf256poly.js"></script>
<script src="/static/jsqrcode/gf256.js"></script>
<script src="/static/jsqrcode/decoder.js"></script>
<script src="/static/jsqrcode/qrcode.js"></script>
<script src="/static/jsqrcode/findpat.js"></script>
<script src="/static/jsqrcode/alignpat.js"></script>
<script src="/static/jsqrcode/databr.js"></script>
{% endblock %}

{% block content %}
<div class="wallet-container">
    <h1 class="logo">CoinStove</h1>
    <h1 class='overall_total'>
        <img class="spinner" id="overall-spinner" src="/static/spinner16.gif" height="16" width="16">
        <span id="total-fiat-amount"></span>
        <span class="fiat-currency">USD</span>
    </h1>
    <div style="clear: both;"></div>
    <hr>

    <button id="new-wallet">Create New Wallet</button>

    {% for symbol, wallets in wallets_for_all_currencies.items %}
        <div class="wallet wallet-{{ wallets.0.symbol|lower }}">
            <h2>{{ wallets.0.symbol }} - {{ wallets.0.full_name }}</h2>
            {% for wallet in wallets %}
            <hr>
            <table class="wallet-address-details" id="{{ wallet.js_id }}">
                <tr>
                    <th>Name:</th>
                    <td>
                    {% if wallet.name %}
                    {{ wallet.name }}
                    {% else %}
                    My {{ wallet.symbol }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>
                        <span class="public-key">{{ wallet.public_key }}</span>
                        <div class="public-key-qr-modal modal">
                            <div class='modal-title'>{{ wallet.name }} Public key QR code</div>
                            <div class="modal-contents"></div>
                            <div class="modal-bottom-section">
                                {{ wallet.public_key }}
                            </div>
                        </div>
                        <a class="launch-public-qr-modal" data-public-key="{{ wallet.public_key }}" href="#">QR</a>
                    </td>
                </tr>
                <tr>
                    <th>Private Key:</th>
                    <td>
                        {% if wallet.has_private_key %}
                            <div class="public-key-qr-modal modal">
                                <div class='modal-title'>{{ wallet.name }} Public key QR code</div>
                                <div class="modal-top-section">
                                    Be careful! Anyone who has access to this information
                                    can withdraw money from this address.
                                </div>
                                <div class="modal-contents"></div>
                                <div class="modal-bottom-section"></div>
                            </div>
                            <a href="#" class="launch-private-qr-modal" data-js-id="{{ wallet.js_id }}">click to show</a>
                        {% else %}
                            <div class="import-public-key-modal modal">
                                <div class='modal-title'>{{ wallet.name }} Public key import</div>
                                <div class="modal-top-section">
                                </div>
                                <div class="modal-contents">
                                    <video></video>
                                    <button class='launch-webcam'>Load from QR code</button>
                                </div>
                                <div class="modal-bottom-section">
                                    <form method="post">
                                        <input type="text" name="private-key">
                                        <input type="submit">
                                    </form>
                                </div>
                            </div>
                            <button class="launch-import-private-key-modal" data-js-id="{{ wallet.js_id }}">Import Private Key</button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Balance:</th>
                    <td class="balance">
                        <span class="wallet-value">{# gets filled in at the bottom in js #}</span>
                        {{ wallet.symbol }}
                        &times;
                        <span class="fiat-exchange" title="Price from: {{ wallet.price_source }}">
                        {# gets filled in at the bottom in js #}
                        </span>
                        {{ wallet.symbol }}/USD
                        =
                        <span class="fiat-value">{# gets filled in at the bottom in js #}</span>
                        USD
                        <a href="#" class="reload-wallet-price" data-wallet-id="{{ wallet.js_id }}">&#x21bb;</a>
                        <img class="spinner price-spinner" src="/static/spinner16.gif" height="16" width="16">
                        <span class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        Transactions (<span class="tx-count">0</span>):
                    </th>
                    <td>
                        <a href="#" class="show-transactions" data-wallet-id="{{ wallet.js_id }}">Show Transactions</a>
                        <img class="spinner transaction-spinner" src="/static/spinner16.gif" height="16" width="16">
                        <table class='transaction-container'></table>
                    </td>
                </tr>
                <tr>
                    <th>
                        Send Money:
                    </th>
                    <td>
                    {% if wallet.has_private_key %}
                        <button>Create Transaction / Send Money</button>
                    {% else %}
                        <em>You cannot send money from this address until a private key has been imported.</em>
                    {% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div id="new-wallet-modal" class="modal">
    <div class='modal-title'>New Wallet</div>
    <div class="modal-contents">
        <form method="post">
            {% csrf_token %}
            {{ new_wallet_form.type.label }}: {{ new_wallet_form.type }}
            {{ new_wallet_form.type.errors }}
            <br>
            {{ new_wallet_form.nickname.label }}: {{ new_wallet_form.nickname }}
            <span class="help">{{ new_wallet_form.nickname.help_text }}</span>
            {{ new_wallet_form.nickname.errors }}
            <br>
            <div class="modal-center-text">
                Either enter existing private/public key pair...
            </div>
            {{ new_wallet_form.public_key.label }}: {{ new_wallet_form.public_key }}
            {{ new_wallet_form.public_key.errors }}
            <br>
            {{ new_wallet_form.private_key.label }}: {{ new_wallet_form.private_key }}
            {{ new_wallet_form.private_key.errors }}
            <br>
            <input type="submit" value="Add New Wallet">

            <br>
            <div class="modal-center-text">
                Or...
            </div>
            <input type="submit" value="Generate New Wallet Address">
        </form>
    </div>
</div>

<canvas id="canvas" style="display: none"></canvas>

<script src="/static/jquery.bpopup.min.js"></script>
<script src="/static/wallet.js"></script>
<script>
    $(function() {
        // Done this way so that all number formatting goes through one place.
        {% for wallets in wallets_for_all_currencies.values %}
        {% for wallet in wallets %}
        update_DOM_with_price_for_wallet('{{ wallet.js_id }}', {{ wallet.price_json|safe }});
        {% endfor %}
        {% endfor %}
        update_overall_fiat_total();

        {% if new_wallet_form.errors %}
        $("#new-wallet-modal").bPopup();
        {% endif %}
    });
</script>
{% endblock %}
